---
http_interactions:
- request:
    method: post
    uri: https://ucarecdn.com/convert/document/-/format/%7B:format=%3E%22png%22%7D/?paths&store=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Mime-Version:
      - '1.0'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<HTML><HEAD>\n<TITLE>Access Denied</TITLE>\n</HEAD><BODY>\n<H1>Access
        Denied</H1>\n \nYou don't have permission to access \"http&#58;&#47;&#47;ucarecdn&#46;com&#47;convert&#47;document&#47;&#45;&#47;format&#47;&#37;7B&#58;format&#61;&#37;3E&#37;22png&#37;22&#37;7D&#47;&#63;\"
        on this server.<P>\nReference&#32;&#35;18&#46;4cba1002&#46;1584712369&#46;de8cb62\n</BODY>\n</HTML>\n"
  recorded_at: Fri, 20 Mar 2020 13:52:49 GMT
recorded_with: VCR 5.1.0
