---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/730c5fb9-bbe7-402c-9c26-789e92a5a353/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare ecd779dc169645ce3c91:08fc764c31b13a69f6c0cbc0a3dadc784e8314ad
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2020-02-14T13:30:08.959836Z","datetime_uploaded":"2020-02-14T13:30:08.785811Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":139,"width":200,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/730c5fb9-bbe7-402c-9c26-789e92a5a353/139","original_filename":"139","size":4394,"url":"https://api.uploadcare.com/files/730c5fb9-bbe7-402c-9c26-789e92a5a353/","uuid":"730c5fb9-bbe7-402c-9c26-789e92a5a353","source":null}'
  recorded_at: Fri, 14 Feb 2020 13:42:39 GMT
- request:
    method: put
    uri: https://api.uploadcare.com/files/730c5fb9-bbe7-402c-9c26-789e92a5a353/storage/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare ecd779dc169645ce3c91:ab05f3dea30aca8457c36440a4a623c6c4edf6e5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS, POST, PUT
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2020-02-14T13:30:08.959836Z","datetime_uploaded":"2020-02-14T13:30:08.785811Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":139,"width":200,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/730c5fb9-bbe7-402c-9c26-789e92a5a353/139","original_filename":"139","size":4394,"url":"https://api.uploadcare.com/files/730c5fb9-bbe7-402c-9c26-789e92a5a353/","uuid":"730c5fb9-bbe7-402c-9c26-789e92a5a353","source":null}'
  recorded_at: Fri, 14 Feb 2020 13:42:40 GMT
recorded_with: VCR 5.0.0
