---
http_interactions:
- request:
    method: get
    uri: https://api.uploadcare.com/files/730c5fb9-bbe7-402c-9c26-789e92a5a353/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Uploadcare ecd779dc169645ce3c91:584c9c57e481abe425b2320d285c2b4f3438436f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.uploadcare-v0.5+json
      Allow:
      - DELETE, GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"datetime_removed":null,"datetime_stored":"2020-02-14T13:30:08.959836Z","datetime_uploaded":"2020-02-14T13:30:08.785811Z","image_info":{"color_mode":"RGB","orientation":null,"format":"JPEG","sequence":false,"height":139,"width":200,"geo_location":null,"datetime_original":null,"dpi":[96,96]},"is_image":true,"is_ready":true,"mime_type":"application/octet-stream","original_file_url":"https://ucarecdn.com/730c5fb9-bbe7-402c-9c26-789e92a5a353/139","original_filename":"139","size":4394,"url":"https://api.uploadcare.com/files/730c5fb9-bbe7-402c-9c26-789e92a5a353/","uuid":"730c5fb9-bbe7-402c-9c26-789e92a5a353","source":null}'
  recorded_at: Fri, 14 Feb 2020 15:20:59 GMT
recorded_with: VCR 5.0.0
